<template>
    <div>
        <div class="title">管理员</div>
        <el-row>
            <el-col :span="22">
                <el-form :model="form" :inline="true" class="demo-form-inline">
                    <el-form-item label="用户名：">
                        <el-input v-model="form.userName" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-button size="medium" @click="removerBtn"> 重置</el-button>
                    <el-button size="medium" @click="search"><i class="el-icon-search"></i> 搜索</el-button>
                </el-form>
            </el-col>
            <el-col :span="2"><el-button size="medium" @click="newDialog">新增</el-button> </el-col>
        </el-row>
        <el-table :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column  prop="username"  label="用户名" ></el-table-column>            
            <el-table-column  prop="time"  label="创建时间"  ></el-table-column>        
            <el-table-column   label="操作"  >
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="modify(scope.row.id)">修改密码</el-button>              
                    <el-button  type="text" size="small" v-if="userName !=  scope.row.username"  @click="open(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @current-change="handleCurrentChange"   :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="total"></el-pagination>
        
        <el-dialog title="添加管理员" :visible.sync="dialogFormVisible" width="500px">
           <el-form :model="form" :inline="true" :rules="rules2"  class="demo-form-inline form">
                <el-form-item label="用 户 名：">
                    <el-input v-model="form.newName" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码：" prop="newPassword">
                    <el-input v-model="form.newPassword"   type="password" placeholder="请输入密码"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>            
                <el-button type="primary" @click="editDo">确 定</el-button>              
            </div>
        </el-dialog>
        <el-dialog title="修改密码" :visible.sync="start" width="500px">
            <el-form :model="form" :inline="true"  :rules="rules2"  class="demo-form-inline form">
                 <el-form-item label="新密码：" prop="password" >
                     <el-input v-model="form.password"  type="password"  placeholder="请输入新密码"></el-input>
                 </el-form-item>
             </el-form>
             <div slot="footer" class="dialog-footer">
                 <el-button @click="start = false">取 消</el-button>            
                 <el-button type="primary" @click="updateManage">确 定</el-button>              
             </div>
         </el-dialog>
    </div>
</template>
<script>
    import { ajax, dateFormat } from '@/util/util'

    export default{
        data(){
            var validatePass2 = (rule, value, callback) => {
				if(value.length < 6) {
					callback(new Error('密码不能少于6位数'));
				} else {
					callback();
				}
			};
            return{
                loading:false,
                dialogFormVisible:false,
                start:false,
                currentPage:1,
				total:1,
				pageSize:10,
                id:"",
                userName:"",
                form:{
                    userName:"",
                    type:"",
                    newName:"",
                    newPassword:"",
                    newNick:"",
                    password:"",
                },
                tableData:[],
                rules2: {
					newPassword: [{
						validator: validatePass2,
						trigger: 'blur'
					}],
                    password: [{
						validator: validatePass2,
						trigger: 'blur'
					}],
				}
            }
        },
        computed:{
            account(){
                    return (window.sessionStorage.account && JSON.parse(window.sessionStorage.account)) || null
            },
        },
        created(){
            console.log(this.account)
            if(!this.account){
                this.$router.push('/')
            }
            this._data.userName = this.account.username;
            this.getSelect({
                page:1,
                username: this.account.username,
                password: this.account.password,
            })

        },
        methods:{
            editDo(){
                var _this = this;
                var data = this._data;
                if(!data.form.newName){
                    myApp.$message.warning("请输入用户名"); 
                    return; 
                }
                if(!data.form.newPassword){
                    myApp.$message.warning("请输入密码"); 
                    return; 
                }else if(data.form.newPassword.length < 6){
                    myApp.$message.warning("密码不能少于6位数");
                   return;
                }

                ajax({
                    url:"home/add",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify({
                        username: _this.account.username,
                        password: _this.account.password,
                        account:data.form.newName,
                        userpassword:data.form.newPassword,
                    }),
                    success:function(res){
                        if(res.code == 0){
                             _this._data.dialogFormVisible = false;
                            myApp.$message.success("添加成功");
                            _this.getSelect({
                                page:1,
                                username: _this.account.username,
                                password: _this.account.password,
                            })
                        }
                    }
                })

                // if(!data.form.type){

                // }
            },
            handleCurrentChange(d){
                // console.log(d)
                var _this = this;
                var data = _this._data.form;
                var datas = {
                    page:d,
                    username: this.account.username,
                    password: this.account.password,
                }
                if(data.userName){
                    datas.nickname = data.userName;
                }
                this.getSelect(datas)
            },
            open(id){
                var _this = this;
                this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    ajax({
                        url:"home/delete",
                        type:"post",
                        dataType:"json",
                        contentType:"application/json;charset=UTF-8",
                        data:JSON.stringify({
                            id:id,
                            username: this.account.username,
                            password: this.account.password,
                        }),
                        success:function(res){

                            if(res.code == 0){
                                _this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                
                                _this.getSelect({
                                    page:1,
                                    username: _this.account.username,
                                    password: _this.account.password,
                                })
                            }
                            

                        }
                    })

                    
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });          
                });
            },
            updateManage(){
                var _this = this;
                var password = _this._data.form.password;
                if(!password){
                   myApp.$message.warning("请输入密码");
                   return;
                }else if(password.length < 6){
                    myApp.$message.warning("密码不能少于6位数");
                   return;
                }
                ajax({
                    url:"home/update",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify({
                        username: _this.account.username,
                        password: _this.account.password,
                        id:_this._data.id,
                        updatePassWord:password
                    }),
                    success:function(res){
                        if(res.code == 0){
                            _this._data.start = false;
                            myApp.$message.success("修改成功");
                        }
                    }
                })
            },
            newDialog(){
                this._data.dialogFormVisible = true;
                this.removeData();
            },
            modify(res){
                this._data.start = true;
                this._data.id = res;
                this.removeData();                
            },
            removerBtn(){
                this._data.form = {
                    userName:"",
                }
                this.getSelect({
                    page:1,
                    username: this.account.username,
                    password: this.account.password,
                })               
            },
            removeData(){
                this._data.form = {
                    userName:"",
                    type:"",
                    newName:"",
                    newPassword:"",
                    password:"",
                }
            },
            search(){
                var _this = this;
                _this._data.currentPage = 1;
                var data = _this._data.form;
                var datas = {
                    username: _this.account.username,
                    password: _this.account.password,
                    page:_this._data.currentPage,
                }
                if(data.userName){
                    datas.nickname = data.userName;
                }
                this.getSelect(datas)
            },
            getSelect(data){
                var _this = this;
                _this._data.loading = true;
                ajax({
                    url:"home/select",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify(data),
                    success:function(res){
                        // console.log(res);
                        if(res.code == 0){
                            _this._data.loading = false;                            
                            res.data.data.forEach(item => {
                                if(item.created_time){
                                    item.time = dateFormat(item.created_time*1000, 'yyyy-MM-dd hh:mm:ss')                            
                                }
                            })
                            _this._data.tableData = res.data.data;
                            _this._data.currentPage = res.data.currentPage;
                            _this._data.total = res.data.count;
                        }
                    }
                })
            },
        },
        
        
    }
</script>
<style lang="">
    .form label{
        width:82px;
        text-align: left;
    }
    .form .el-select{
        width: 360px;
    }
    .form .el-form-item__content{
        width: 360px;
    }
    .el-pagination{
        margin-top:20px;
    }
    .form .el-form-item__content .el-input{
        width:100%;
    }
</style>