<template>
  <el-container style="height: 100%; border: 1px solid #eee">
    <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
      <el-menu background-color="#EEF1F6" class="el-menu-vertical-demo" >
        <el-menu-item index="">
          
        </el-menu-item>
      </el-menu>
      <!-- <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"> -->
      <el-menu background-color="#EEF1F6" :default-active="this.$route.path.substr(1)" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" >
        
        <el-menu-item index="rawal" @click="$router.push('/rawal')">
          <i class="el-icon-tickets"></i> 
          <span slot="title">提现列表</span>
        </el-menu-item>
        <el-menu-item index="money" @click="$router.push('/money')">
          <i class="el-icon-document"></i>         
          <span slot="title">资金流水</span>
        </el-menu-item>
        <el-menu-item index="plan" @click="$router.push('/plan')">
          <i class="el-icon-menu"></i>          
          <span slot="title">发送方案</span>
        </el-menu-item>
        <el-menu-item index="account" @click="$router.push('/account')">
          <i class="el-icon-setting"></i>
          <span slot="title">账号管理</span>
        </el-menu-item>
      </el-menu>

    </el-aside>
    
    <el-container>
      <el-header height="56px" style="text-align: right; font-size: 16px">
				<span>{{account.username}}</span>
        /
        <el-button  type="text" size="small" @click="signOut">退出登陆</el-button>
				<!-- <el-dropdown-item >退出登陆</el-dropdown-item>         -->
				<!-- <el-dropdown>
					<i class="el-icon-setting" style="margin-right: 5px"></i>
					<el-dropdown-menu slot="dropdown">
					</el-dropdown-menu>
				</el-dropdown> -->
			</el-header>

      <el-main>
          <router-view/>
      </el-main>
    </el-container>
  </el-container>
</template>
<style>
  .el-header {
		background-color: #B3C0D1;
		color: #333;
		line-height: 60px;
	}
	.el-aside {
		color: #333;
	}
	
	.el-menu>li {
		text-align: left !important;
	}
</style>

<script>
  export default {
    data(){
      return{
        account:{
          username:"1234"
        }
      }
    },
    created(){
      this._data.account = JSON.parse(window.sessionStorage.account);
    },
    methods: {
			handleOpen(key, keyPath) {
				console.log(key, keyPath);
			},
			handleClose(key, keyPath) {
				console.log(key, keyPath);
      },
      signOut(){
				window.sessionStorage.clear()
				this.$router.push('/')
			},
      
		}
  };
</script>
