<template>
	<div class="login">
		<div class="login_window">
			<div class="login_window_title">赞赏管家</div>
			<el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm login_window_content">
				<el-form-item label="用户名" prop="name" class="login_window_content_input">
					<el-input size="small" type="text" v-model="ruleForm2.name" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="密码" prop="checkPass" class="login_window_content_input">
					<el-input size="small" type="password" v-model="ruleForm2.checkPass" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button class="login_btn" type="primary" @click="submitForm(ruleForm2)">登录</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
</template>
<script>
    import { ajax, dateFormat } from '@/util/util'
    export default {
		data() {
			var validatePass = (rule, value, callback) => {
				if(value === '') {
					callback(new Error('请输入用户名'));
				} else {
					if(this.ruleForm2.checkPass !== '') {
						this.$refs.ruleForm2.validateField('checkPass');
					}
					callback();
				}
			};
			var validatePass2 = (rule, value, callback) => {
				if(value === '') {
					callback(new Error('请输入密码'));
				} else {
					callback();
				}
			};
			return {
				ruleForm2: {
					name: '',
					checkPass: '',
				},
				rules2: {
					name: [{
						validator: validatePass,
						trigger: 'blur'
					}],
					checkPass: [{
						validator: validatePass2,
						trigger: 'blur'
					}],
				}
			};
		},
		methods: {
			submitForm(formName) {
                if(!formName.name){
                    myApp.$message.warning("请输入用户名");
                    return;
                }
                if(!formName.checkPass){
                    myApp.$message.warning("请输入密码");
                    return;
                }
				
				// window.sessionStorage.setItem('account',1)
				// this.$router.push('/rawal')
				var params = {
					type: "post",
					url: "home/loginBank",
					dataType:"json",
					contentType:"application/json;charset=UTF-8",
					data:JSON.stringify({
							username:formName.name,
							password:formName.checkPass,
					}),
					success: (d) => {
						console.log(d);
                        // console.log(d)
						if(d.code == 0){
							docunment.cookie = "cookie=1111";
                   			myApp.$message.success("登录成功");
							var data = JSON.stringify(d.data)				
							window.sessionStorage.setItem('account',data)
							this.$router.push('/rawal')
						}else{
							this.$message({
								type: 'warning',
								message: '用户名或密码错误'
							});
						}
						
					},
				}

				ajax(params)
			},

		}
	}
</script>
<style lang="">
    .login{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #EEF1F6;
    }
    .login_window {
        width: 350px;
        height: 350px;
        position: absolute;
        background: #fff;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 5px;
        overflow: hidden;
    }
    .el-form-item__label {
        width: auto !important;
    }
    .login_window_content_input  .el-form-item__content {
         width: calc(100% - 68px);
    }
    .el-form-item__content {
        margin-left: auto !important;
    }
    .login_btn {
        width: 100%;
    }
    .login_window_content {
        padding: 30px 30px 0;
    }
    .login div.login_window_title {
        height: 50px;
        background: #409EFF;
        font-size: 20px;
        letter-spacing: 0.2em;
        line-height: 50px;
        color: #fff;
    }
</style>