<template>
    <div>
        <div class="title">资金流水</div>
        <el-row>
            <el-col :span="20">
                <el-form :model="form" :inline="true" class="demo-form-inline set">
                    <el-form-item label="付款人：">
                        <el-input v-model="form.name"  placeholder="请输入付款人"></el-input>
                    </el-form-item>
                    <el-form-item label="商户昵称：">
                        <el-input v-model="form.nickName" placeholder="请输入商户昵称"></el-input>
                    </el-form-item>
                    <el-form-item label="赞赏码：">
                        <el-input v-model="form.barCode" placeholder="请输入赞赏码"></el-input>
                    </el-form-item>
                    <el-form-item label="交易时间">                
                            <el-date-picker v-model="form.date" type="daterange" :picker-options="pickerOptions0" size="small" :default-time="['00:00:00', '23:59:59']" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="4">
                <el-button size="medium" @click="remove">重置</el-button>
                <el-button class="btnMargin" size="medium" @click="search(1)"><i class="el-icon-search"></i> 搜索</el-button>
            </el-col>
        </el-row>
        <el-row class="top">
            <el-col :span="20" style="height:1px"></el-col>
            <el-col :span="4">
                <el-button type="primary" class="btnMargin"  size="medium" @click="exporty">导出 </el-button>                            
            </el-col>
        </el-row>
        <el-table :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column   label="交易时间" prop="pay_time"  ></el-table-column>
            <el-table-column   label="付款人" prop="userpayname"  ></el-table-column>   
            <el-table-column   label="类型" prop="isOther"  ></el-table-column> 
            <el-table-column   label="金额"   >
                <template slot-scope="scope">
                    <span>￥{{scope.row.amount}}</span>
                </template>
            </el-table-column>    
            <el-table-column   label="商户昵称" prop="username"  ></el-table-column>
            <el-table-column   label="赞赏码" prop="barcodeName"  ></el-table-column>     
            <el-table-column   label="退款" prop="num"  ></el-table-column>      
            <el-table-column   label="退款时间" prop="num"  ></el-table-column>                                                            
        </el-table>
        <el-pagination @current-change="handleCurrentChange"  :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="total"></el-pagination>

    </div>
</template>
<script>
    import { ajax, dateFormat } from '@/util/util'
    export default{
         data(){
            return{
                loading:false,
                currentPage:1,
				total:1,
				pageSize:10,
                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() > Date.now() - 8.64e6
                    }
                },
                form:{
                    name:"",
                    nickName:"",
                    barCode:"",
                    date:""
                },
                tableData:[],
                datas:{},
            }
         },
         computed:{
            account(){
                    return (window.sessionStorage.account && JSON.parse(window.sessionStorage.account)) || null
            },
        },
        created(){
            console.log()
            if(!this.account){
                this.$router.push('/')
            }
            
            this.getData({
                type:0,
                page:1,
                username: this.account.username,
                password: this.account.password
            });            
        },
         methods:{
            remove(){
                var from = this._data.form;
                from.name  = ""; 
                from.nickName = "";
                from.barCode = "";
                from.date = "";
                this.getData({
                    type:0,
                    page:1,
                    username: this.account.username,
                    password: this.account.password
                });  
            },
            handleCurrentChange(d){
                this._data.currentPage = d;
                this.search(d);
            },
            search(d){   
                var from = this._data.form;
                var data = {
                    type:0, 
                    username: this.account.username,
                    password: this.account.password                
                }
                if(from.name){
                    data.userpayname = from.name
                }
                if(from.nickName){
                    data.name= from.nickName;
                }
                if(from.barCode){
                    data.barcode = from.barCode
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000;                                                      
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                data.page = d,
                this.getData(data);
            },
            exporty(){
                var text = "当前导出为所有数据，数据量会较大可能会出现导出时间较长，建议筛选后在导出，是否继续?"
                var from = this._data.form;
                var data = {
                    type:1,
                    username: this.account.username,
                    password: this.account.password
                }
                if(from.name){
                    text = "是否导出？";
                    data.userpayname = from.name
                }
                if(from.nickName){
                    text = "是否导出？";                
                    data.name= from.nickName;
                }
                if(from.barCode){
                    text = "是否导出？";                  
                    data.barcode = from.barCode
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000; 
                    text = "是否导出？";                                                                 
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                this.$confirm(text, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.getData(data);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });          
                });
            },
            getData(data){
                var _this =this;
                var type = data.type;
                if(type == 0){
                    _this._data.loading = true;                    
                }  
                ajax({
                    url:"home/getPayment",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify(data),                    
                    // data:"userId="+_this._data.userId+"&createdBy=1&content="+des,
                    success:(res)=>{  
                        if(res.code == 0){
                            _this._data.loading = false;
                            if(type == 0){
                                // var data = res.data.data;
                                _this._data.currentPage=res.data.page,
                                _this._data.total= res.data.count,
                                _this._data.tableData = res.data.data;
                            }else if(type == 1){
                                window.location.href = res.data;
                                this.$message({
                                    type: 'success',
                                    message: '导出成功!'
                                });
                            }
                            
                        }                                        
                    }
                })
            },
        }
    }

</script>
<style lang="">
    .priceInput{
        width:130px !important;
    }
    .el-pagination{
        margin-top:20px;
    }
    .top{
        padding:0 0 0 40px;
    }
    .cell{
        text-align:center !important;
    }
</style>