<template>
    <div>
        <div class="title">发送方案</div>    
        <el-row>
            <el-col :span="20">
                <el-form :model="form" :inline="true" class="demo-form-inline set">
                    <el-form-item label="赞赏码：">
                        <el-input v-model="form.barCode"  placeholder="请输入赞赏码"></el-input>
                    </el-form-item>
                    <el-form-item label="发送时间">                
                            <el-date-picker v-model="form.date" type="daterange" :picker-options="pickerOptions0" size="small" :default-time="['00:00:00', '23:59:59']" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                    </el-form-item> 
                </el-form>
            </el-col>
            <el-col :span="4">
                <el-button size="medium" @click="remove">重置</el-button>
                <el-button class="btnMargin" size="medium" @click="search(1)"><i class="el-icon-search"></i> 搜索</el-button>           
            </el-col>
        </el-row>
        <el-row class="top">
            <el-col :span="20" style="height:1px"></el-col>
            <el-col :span="4">
                <el-button type="primary" class="btnMargin"  size="medium" @click="exporty">导出 </el-button>                            
            </el-col>
        </el-row>
        <el-table :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column   label="赞赏码" prop="appreciates"  ></el-table-column>
            <el-table-column   label="发送时间" prop="created_time"  ></el-table-column>
            <el-table-column   label="商户名称" prop="nickname"  ></el-table-column>
            <el-table-column   label="方案" prop="content" width="600"  ></el-table-column>    
            <el-table-column   label="备注内容" prop="remark" width="400" ></el-table-column>                    
        </el-table>
        <el-pagination @current-change="handleCurrentChange"  :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="total"></el-pagination>

    </div>
</template>
<script>
    import { ajax, dateFormat } from '@/util/util'
    export default{
         data(){
            return{
                loading:false,
                currentPage:1,
				total:1,
				pageSize:10,
                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() > Date.now() - 8.64e6
                    }
                }, 
                form:{
                    barCode:"",
                    date:"",
                },
                tableData:[],

                datas:{},

            }
         },
        computed:{
            account(){
                    return (window.sessionStorage.account && JSON.parse(window.sessionStorage.account)) || null
            },
        },
        created(){
            if(!this.account){
                this.$router.push('/')
            }
            
            this.getData({
                type:0,
                page:1,
                username: this.account.username,
                password: this.account.password
            })
        },
         methods:{
            remove(){
                var from = this._data.form;
                from.barCode  = ""; 
                from.date = "";
                this.getData({
                    type:0,
                    page:1,
                    username: this.account.username,
                    password: this.account.password
                })
            },
            handleCurrentChange(d){
                this._data.currentPage = d;
                this.search(d);
            },
            exporty(){
                var text = "当前导出为所有数据，数据量会较大可能会出现导出时间较长，是否继续?"
                var from = this._data.form;
                var data = {
                    type:1,
                    username: this.account.username,
                    password: this.account.password
                }
                if(from.barCode){
                    text = "是否导出？";                   
                    data.barcode = from.barCode
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000; 
                    text = "是否导出？";                            
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                this.$confirm(text, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.getData(data);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });          
                });
            },
            search(d){   
                var from = this._data.form;
                var data = {
                    type:0,
                    username: this.account.username,
                    password: this.account.password
                }
                if(from.barCode){
                    data.barcode = from.barCode
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000;     
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                data.page = d;
                this.getData(data);
            },
            getData(data){
                var _this =this;
                // console.log(data)
                var type = data.type;
                if(type == 0){
                    _this._data.loading = true;
                }
                ajax({
                    url:"home/getScheme",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify(data),                    
                    // data:"userId="+_this._data.userId+"&createdBy=1&content="+des,
                    success:function(res){  
                        if(res.code == 0){
                            _this._data.loading = false;
                            console.log(data)
                            if(type == 0){
                                var data = res.data.data;
                                for(var i=0; i<data.length; i++){
                                    data[i].time = dateFormat(data[i].created_time,'yyyy-MM-dd hh:mm:ss')
                                }
                                _this._data.currentPage=res.data.page,
                                _this._data.total= res.data.count,
                                _this._data.tableData = data;
                            }else if(type == 1){
                                window.location.href = res.data;
                                _this.$message({
                                    type: 'success',
                                    message: '导出成功!'
                                });
                            }
                            
                        }                                        
                    }
                })
            },
        }
    }

</script>
<style lang="">
    .priceInput{
        width:130px !important;
    }
    .el-pagination{
        margin-top:20px;
    }
    .top{
        padding:0 0 0 40px;
    }
    .cell{
        text-align:center !important;
    }
</style>