<template>
    <div>
        <div class="title">提现列表</div>        
        <el-row>
            <el-col :span="20">
                <el-form :model="form" :inline="true" class="demo-form-inline set">
                    <el-form-item label="姓名：">
                        <el-input v-model="form.name"  placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="编号：">
                        <el-input v-model="form.num" placeholder="请输入编号"></el-input>
                    </el-form-item>
                    <el-form-item label="状态：">
                        <el-select v-model="form.suc" placeholder="状态">
                            <el-option v-for="item in suc" :label="item.text"  :value="item.start"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="提现金额：">
                        <el-input class="priceInput" v-model="form.start" placeholder="开始金额" ></el-input>
                        -
                        <el-input class="priceInput" v-model="form.end" placeholder="结束金额" ></el-input>
                        元                             
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="4">
                <el-button size="medium" @click="remove">重置</el-button>
                <el-button class="btnMargin" size="medium" @click="search(1)"><i class="el-icon-search"></i> 搜索</el-button>             
            </el-col>
        </el-row>
        <el-row class="paddTop">
            <el-col :span="20">
                <el-form :model="form" :inline="true" class="demo-form-inline set">
                    <el-form-item label="提现时间">                
                            <el-date-picker v-model="form.date" type="daterange" :picker-options="pickerOptions0" size="small" :default-time="['00:00:00', '23:59:59']" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                    </el-form-item> 
                </el-form>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" class="btnMargin"  size="medium" @click="shuaxin">刷新</el-button>
                <el-button type="primary" class="btnMargin"  size="medium" @click="exporty">导出 </el-button>                                                            
            </el-col>
        </el-row>


        <el-table :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column   label="昵称" prop="nickname"  >
            </el-table-column>
            <el-table-column    label="账号余额"   >
                <template slot-scope="scope">
                    <span>￥{{scope.row.price}}</span>
                </template>
            </el-table-column>
            <el-table-column   label="用户编号" >
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">点击复制</div>
                        <span style="display:block;cursor:pointer;width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="tag-read" :data-clipboard-text="scope.row.number" @click="copy">{{scope.row.number}}</span>  
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column   label="真实姓名"  >
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">点击复制</div>
                        <span style="display:block;cursor:pointer;width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="tag-read" :data-clipboard-text="scope.row.bank_name" @click="copy">{{scope.row.bank_name}}</span>  
                    </el-tooltip>
                </template>         
            </el-table-column>
            <el-table-column  prop="yh"   label="银行"   >
            </el-table-column>
            <el-table-column   label="银行卡号"  width="220">
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">点击复制</div>
                        <span style="display:block;cursor:pointer;width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="tag-read" :data-clipboard-text="scope.row.bank_number" @click="copy">{{scope.row.bank_number}}</span>  
                    </el-tooltip>
                </template>         
            </el-table-column>
            <el-table-column   label="开户行"  width="200">
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">点击复制</div>
                        <span style="display:block;cursor:pointer;width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="tag-read" :data-clipboard-text="scope.row.bank_account" @click="copy">{{scope.row.bank_account}}</span>  
                    </el-tooltip>
                </template>         
            </el-table-column>
            <el-table-column   label="提现金额"  >
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">点击复制</div>
                        <span style="display:block;cursor:pointer;width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="tag-read" :data-clipboard-text="scope.row.AT_amount" @click="copy">￥{{scope.row.AT_amount}}</span>  
                    </el-tooltip>
                </template>         
            </el-table-column>
            <el-table-column   prop="time" label="提现时间"  width="160">       
            </el-table-column>
            <el-table-column   label="状态"  > 
                <template slot-scope="scope">
                    <span v-if="scope.row.status"> 已提现 </span>
                    <span v-else> 未完成 </span>                    
                </template>
            </el-table-column>
            <el-table-column   label="操作"  >
            <template slot-scope="scope">          
                <el-button type="primary" class="btnMargin" v-if="scope.row.status == 0"  size="small" @click="resultsClick(scope.row.id)">确定提现</el-button>
            </template>
            </el-table-column>
        </el-table>
        <el-pagination @current-change="handleCurrentChange"  :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="total"></el-pagination>
    </div>
</template>
<script>
    import { ajax, dateFormat } from '@/util/util'
    import Clipboard from 'clipboard';
    
    export default{
        data(){
            return{
                loading:false,
                currentPage:1,
				total:1,
				pageSize:10,
                pickerOptions0: {
                    disabledDate(time) {
                        return time.getTime() > Date.now() - 8.64e6
                    }
                },
                form:{
                    name:"",
                    num:"",
                    suc:"",
                    start:"",
                    end:"",
                    date:"",
                },
                suc:[{
                  text:"未完成",
                  start:0,  
                },{
                    text:"已提现",
                    start:1,
                }],
                tableData:[],
            }
        },
        computed:{
            account(){
                    return (window.sessionStorage.account && JSON.parse(window.sessionStorage.account)) || null
            },
        },
        created(){
            if(!this.account){
                this.$router.push('/')
            }
            this.getData({
                page:1,
                username: this.account.username,
                password: this.account.password,
                type:0                
            });
        },
        methods:{
            remove(){
                var from = this._data.form;
                from.name = "";
                from.num = "";
                from.suc = "";
                from.start = "";
                from.end = "";
                from.date = "",
                this.getData({
                    page:1,
                    type:0,                                        
                    username: this.account.username,
                    password: this.account.password
                })
            },
            exporty(){
                var text = "当前导出为所有数据，数据量会较大可能会出现导出时间较长，是否继续?"
                var from = this._data.form;
                var data = {
                    type:1,
                    username: this.account.username,
                    password: this.account.password
                }
                if(from.name){
                    data.nickname = from.name;
                    text = "是否导出？";                                                
                }
                if(from.num){
                    data.number = from.num;
                    text = "是否导出？";                                                
                }
                if(from.suc === 0 || from.suc == 1){                    
                    data.status = from.suc
                    text = "是否导出？";                                                
                }
                if(from.start){
                    data.startPrice = from.start
                    text = "是否导出？";                                                
                }
                if(from.end){
                    data.endPrice = from.end;
                    text = "是否导出？";                                                
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000; 
                    text = "是否导出？";                            
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                this.$confirm(text, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.getData(data);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });          
                });
            },
            resultsClick(id){
                console.log(id)
                var _this = this;
                this.$confirm('此操作将改变提现状态问已完成, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    ajax({
                    url:"home/updateBank",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify({withdraw_id:id,username:_this.account.username,password:_this.account.password}),                    
                    success:function(res){  
                            if(res.code == 0){
                                _this.$message({
                                    type: 'success',
                                    message: '修改成功!'
                                });
                                _this.search();
                            }                                        
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });          
                });
            },
            shuaxin(){
                var from = this._data.form;
                var data = {
                    username: this.account.username,
                    password: this.account.password,
                    type:0                    
                }
                if(from.name){
                    data.nickname = from.name
                }
                if(from.num){
                    data.number = from.num;
                }
                if(from.suc === 0 || from.suc == 1){                    
                    data.status = from.suc
                }
                if(from.start){
                    data.startPrice = from.start
                }
                if(from.end){
                    data.endPrice = from.end;
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000;                            
                    data.startTime = startTime;
                    data.endTime = endTime;
                }

                data.page = 1,
                this.getData(data);
            },
            search(d){   
                var from = this._data.form;
                var data = {
                    username: this.account.username,
                    password: this.account.password,
                    type:0
                }
                if(from.name){
                    data.nickname = from.name
                }
                if(from.num){
                    data.number = from.num;
                }
                if(from.suc === 0 || from.suc == 1){                    
                    data.status = from.suc
                }
                if(from.start){
                    data.startPrice = from.start
                }
                if(from.end){
                    data.endPrice = from.end;
                }
                if(from.date){
                    var startTime = Date.parse(from.date[0]) / 1000;
                    var endTime = Date.parse(from.date[1]) / 1000;                            
                    data.startTime = startTime;
                    data.endTime = endTime;
                }
                data.page = d,
                this.getData(data);
            },

            getData(data){
                var _this =this;
                var type = data.type;                
                if(type == 0){
                    _this._data.loading = true;                    
                }
                ajax({
                    url:"home/getWithdraw ",
                    type:"post",
                    dataType:"json",
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify(data),                    
                    success:function(res){  
                        if(res.code == 0){
                            _this._data.loading = false;
                            if(type == 0){
                                var data = res.data.data;
                                for(var i=0; i<data.length; i++){
                                    data[i].time = dateFormat(data[i].created_time*1000,'yyyy-MM-dd hh:mm:ss')
                                }
                                _this._data.currentPage=res.data.currentPage,
                                _this._data.total= res.data.count,
                                _this._data.tableData = data;
                            }else if(type == 1){
                                window.location.href = res.data;
                                _this.$message({
                                    type: 'success',
                                    message: '导出成功!'
                                });
                            }
                            
                        }                                        
                    }
                })
            },

            copy() {  
                var clipboard = new Clipboard('.tag-read')  
                clipboard.on('success', e => {  
                        // 释放内存  
                        this.$message({
                            type: 'success',
                            message: '复制成功!'
                        });
                        clipboard.destroy()  
                    })  
                    clipboard.on('error', e => {  
                        // 不支持复制  
                        console.log('该浏览器不支持自动复制')  
                        // 释放内存  
                        clipboard.destroy()  
                    })  
            },
            handleCurrentChange(d){
                this._data.currentPage = d;
                this.search(d);
            },

        },
       
    }
</script>
<style lang="">
    .priceInput{
        width:130px !important;
    }
    .el-pagination{
        margin-top:20px;
    }
    .cell{
        text-align:center !important;
    }
    .paddTop{
        padding:0 0 0  40px;
    }
</style>