.top-line .line-text{display: flex;justify-items: center;align-items: center;}
.top-line .line-text image{width: 28rpx;height: 28rpx;margin-left:6rpx;}

.sendlist-content{}
.content-title{padding:10rpx 30rpx;font-size: 24rpx;color:#b2b2b2;}
.sendlist-list{padding: 0 30rpx; border-top:1rpx solid #ededed;border-bottom:1rpx solid #ededed;background-color:#fff;}
.list-item{padding: 36rpx 0 32rpx; display: flex;justify-content: space-between;align-items: center;border-bottom:1rpx solid #ededed}
.list-item:last-child{border:0;}
.list-item .item-left{width: 76%}
.list-item .item-right{width: 100rpx;height: 60rpx;font-size: 32rpx;color:#4c4c4c;text-align: center;line-height: 60rpx; border-radius: 10rpx;border:1rpx solid #ededed;}
.item-left .left-text{font-size: 30rpx; color:#4c4c4c;}
.item-left .left-time{font-size: 24rpx;color:#b2b2b2; padding-top:20rpx;word-break:break-all;}