<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;} 
body, button, input, select, textarea { font:12px/1.5, arial,; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
img {width: 100%;height:100%}
button, input, select, textarea { font-size:100%; outline:none} 
table { border-collapse:collapse; border-spacing:0; } 
i,em{ font-style:normal}

html,body{height:100%}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height:100%;
}

.el-table th{
    text-align: center;
}
.title{
    text-align: left;
}
.el-form{
        text-align: left;
}
.el-row{
    padding:20px 0 0 40px;
}
.bottom{
  padding:10px 0 20px 40px !important;
}
@media screen and (max-width: 1500px) {
    .btnMargin{
      margin-top:20px;
      margin-left:0 !important;
    }
    .btn-left{
      margin-left:4px !important;
    }
}
</style>
