<view class='history'>
  <view class="history-top">
    <view class="top-head">
      <view class="head-time" bindtap='showTime' wx:if="{{!start}}">
        <text>时间筛选</text>
        <image src="../../../../img/time.png"></image>
      </view>
      <view class="head-time yanse" bindtap='showTime' wx:else>
        <text>时间筛选</text>
        <image src="../../../../img/time_2.png"></image>
      </view>
      <view class="head-export" bindtap='exports'>
        <text>导出excel</text>
        <image src="../../../../img/dao.png"></image>
      </view>
    </view>
    <view class="top-picker" wx:if="{{start}}">
      <view class="triangle"></view>
      <view class="picker-item">
        <view class="picker-tilte">开始时间</view>
        <view class="picker-date">
          <picker mode="date" value="{{startDate}}"  end="{{endDate}}" bindchange="startChange">
            <view class="tui-picker-detail">{{startDate}}</view>
          </picker>
        </view>
      </view>
      <view class="picker-item">
        <view class="picker-tilte">结束时间</view>
        <view class="picker-date">
          <picker mode="date" value="{{endDate}}" start="{{startDate}}"  end="{{end}}" bindchange="endChange">
            <view class="tui-picker-detail">{{endDate}}</view>
          </picker>
        </view>
      </view>
      <view class="picker-btn">
        <view class="btn-query" bindtap='pickerBtn'>查询</view>
      </view>
    </view>
  </view>
  <view class="history-content" wx:if="{{list.length != 0}}">
    <view wx:for="{{list}}" wx:for-item="item" wx:for-index="index">
      <view class="content-title">{{item.time}}</view>
      <view class="history-list">
        <view class="list-item" wx:for="{{item.da}}" wx:for-item="ite" wx:for-index="ind" data-id="{{ite.id}}" bindtap='notice'>
          <view class="left-text">{{ite.content}}</view>
          <view class="left-time">{{ite.time}}</view>
        </view>
      </view>
    </view>
  </view>
  <view class="wu" wx:else>暂无内容，去其他地方看看吧！</view>    
</view>