/**index.wxss**/
/* .index{
background-color:#f8f8f8;
} */
.index .top{font-size: 30rpx;background-color:#f8a442;color:#fff;border-bottom:2rpx solid #cccccc;height: 200rpx;position: fixed;top:0;left:0;width: 100%;z-index: 5;}
.top .title{/* padding-left:20rpx; */text-align: center;}
.top .reciates{padding:40rpx 0;display: flex;}
.top .reciates .reciates-content{width: 50%;text-align: center;}
.reciates .reciates-content .reciates-title{/* margin-bottom:20rpx; */font-size: 34rpx;}
.reciates .reciates-content .reciates-title.right{padding-right:20rpx;}
.reciates .reciates-content .reciates-title text{font-size: 42rpx;font-weight: 600;}
.reciates .reciates-content .reciates-text{font-size: 24rpx;padding-top:6rpx;}

.index .add{width: 96rpx;height:96rpx;position:fixed;bottom:120rpx;right:60rpx;background: #f8a442;border-radius: 50%;text-align:center;line-height: 88rpx;font-size: 48rpx;color:#fff;border:1rpx solid #e98100;-moz-box-shadow:0px 3px 11px #e5cca4; -webkit-box-shadow:0px 3px 11px #e5cca4; box-shadow:0px 3px 11px #e5cca4;}

.reciates-list{padding: 238rpx 30rpx 0; height: 100%;/* overflow-y: scroll; */overflow:hidden;}
.reciates-list .reciates-item{background-color:#fff; margin-bottom:30rpx;border-radius: 14rpx;border:1px solid #eeeeee;padding:20rpx 0 10rpx;color:#4d4d4d;-moz-box-shadow:0px 3px 12px #EEEEF2; -webkit-box-shadow:0px 3px 12px #EEEEF2; box-shadow:0px 3px 12px #EEEEF2;}
.reciates-item .item-title{display: flex;justify-content: space-between;font-size: 30rpx;padding: 2rpx 20rpx 2rpx 30rpx;border-left:8rpx solid #f8a442;font-weight: 600;}
.reciates-item .item-title button{font-size: 30rpx;}
.reciates-item .item-title .title-text{min-width: 100rpx;}
.reciates-item .item-title .title-btn{display: flex;align-items: center;width: auto;}
.reciates-item .item-title .title-btn image{width: 32rpx;height: 32rpx;margin-left:10rpx;}
.reciates-item .public{padding-left:38rpx;font-size: 24rpx;color:#b2b2b2;height: 32rpx;}
.reciates-list .item-centent{text-align: center;font-size: 34rpx;}
.item-centent .item-price{font-size: 48rpx;color:#f7981a;font-weight: 600;padding-right:30rpx;}
.item-centent .item-price text{font-size: 36rpx;font-weight: 500;padding-right:6rpx;}
.item-centent .item-number{font-size: 24rpx;color:#b2b2b2;}
.reciates-list .item-btn{display: flex;justify-content: space-between;font-size: 28rpx;font-weight: 600;padding: 30rpx 20rpx 0rpx 34rpx;}
.reciates-list .item-btn .btn{display: flex;align-items: center;}
.reciates-list .mix{padding: 16rpx 0;}
.reciates-list .left{margin-left:20rpx;}
.reciates-list .item-btn .btn-box{display: flex;align-items: center;width: 50%;}
.reciates-list .item-btn .btn-box button{font-size: 28rpx; width: 40%;}
.reciates-list .item-btn .btn button{font-size: 28rpx;}
.reciates-list .item-btn .btn text{color:#000;padding:0 10rpx;/* margin-right:6rpx; */ display: inline-block;  /* vertical-align: middle;*/} 
.reciates-list .item-btn .btn image{/* display: inline-block; */width: 30rpx;height: 30rpx;vertical-align: middle; }


.modal{position: fixed;left:0;right: 0;top:0;bottom:0;display: flex;justify-content: center; align-items: center;background-color:rgba(0,0,0,.6);z-index:100;}
.modal-box{width: 500rpx;background: #fff;border-radius: 10rpx; margin-top:-100rpx;}
.modalBox-title{padding: 40rpx 0 20rpx;text-align: center;font-weight: 600;}
.modalBox-text{padding:10rpx 0 60rpx; text-align: center;font-size: 32rpx;color:#4c4c4c;}
.modalBtn{height: 80rpx;border-top:1rpx solid #eeeeee;line-height: 80rpx;font-size: 32rpx;}