<view class="preview">
  <view class="preview-top">
      <image class="top-bg" src="../../../../img/icon-top.png"></image>
      <view class="avatars">
        <image src="{{urlImg}}"></image>
      </view>
  </view>
  <view class="preview-head">
    <view class="head-name">{{datas.name}}</view>
    <view class="head-pulilc">{{datas.publics}}</view>
  </view>
  <view class="preview-text">
    <view class="text-text {{startClass}}">{{datas.text}}</view>
    <view class="text-btn" wx:if="{{start}}">
      <view class="btn-text" bindtap='btnStart'> 
        <text>展开全部</text>
        <view class="btn-img">
          <image src="../../../../img/icon-bottom.png"></image>
        </view>   
      </view> 
    </view>
  </view>
  <view class="price-list">
    <view class="price-item" wx:for="{{datas.priceList}}" wx:for-item="item" wx:for-index="index">
      <view class="price-content">
        <text class="price-text">￥</text>            
        <view class="price-num">{{item.price}}</view>
      </view>
    </view>
  </view>
  <view class="preview-prompt">此状态不支持赞赏操作</view>
</view>