<!-- <view>填写信息</view> -->
<view class='fill' id="fill">
  <view class="top-line"></view>
  <view class='fill-top'>
    <view class="fill-name">
      <text class="top-text">赞赏名</text>
      <input class="top-input" value="{{name}}" placeholder-class="phcolor" bindinput="nameInput" placeholder='请输入赞赏名称' maxlength='7'></input>
    </view>
    <view class="fill-ments" bindtap='focusBtn'>
      <textarea  maxlength="-1" auto-height value="{{text}}" bindinput="textInput"  placeholder='请输入赞赏引导语' focus="{{focus}}" ></textarea>
    </view>
  </view>
  <view class="fill-public">
    <view class="public-text">公众号</view>
    <input class="public-input" placeholder-class="phcolor" value='{{publics}}' bindinput="publicInput" placeholder='请输入公众号' maxlength='10' ></input>
  </view>
  <form bindsubmit="formSubmit" bindreset="formReset" report-submit="true">  

  <view class="fill-price">
    <view class="price-title">金额设置 （轻触金额可手动输入金额）</view>
    <view class="price-list">
      <view class="price-item" bindtap='focusInput' data-index="{{index}}"  wx:for="{{priceList}}" wx:for-item="item" wx:for-index='index'>
        <view class="price-content">
          <text class="price-text">￥</text>
          <view class="price-input" style='width:{{item.num}}rpx;'>
            <input wx:if="{{inputStart}}" value="{{item.price}}" style='width:{{item.num + 30}}rpx;'  bindfocus="bindfocusBtn" focus="{{item.focus}}"  bindinput="restaurInput" data-index="{{index}}" type="digit" ></input> 
            <input wx:else value="{{item.price}}" style='width:{{item.num + 30}}rpx;' cursor-spacing="60"  focus="{{item.focus}}"  bindinput="restaurInput" data-index="{{index}}" type="digit" ></input> 
          </view>
  
        </view>
      </view>
    </view>
    <view class="price-add" bindtap='addPriceList' wx:if="{{priceList.length == 6}}">
        <view class="add-icon"><image src="../../../img/fill/jia.png"></image></view>
        <text class="add-text">添加一行</text>
    </view>
    <view class="price-add" bindtap='removePriceList' wx:if="{{priceList.length == 9}}">
        <view class="add-icon"><image src="../../../img/fill/jie.png"></image></view>
        <text class="add-text">删除一行</text>
    </view>
  </view>
    <view class="fill-btn" wx:if="{{startBtn}}">
      <!-- <view class="btn-submit" bindtap='details'>创建赞赏</view> -->
      <button  formType="submit" class="btn-preview " bindtap='preview' >预览</button>
      <button  formType="submit" class="btn-submit" bindtap='details'> 创建</button>
    </view>
  <view class="fill-btn" wx:else>
    <!-- <view class="btn-cancel" bindtap='cancel'>取消</view> -->
    <button  formType="submit" class="btn-preview " bindtap='preview' >预览</button>    
    <view class="btn-save" bindtap='save'>保存</view>
  </view>
  </form>
</view>



<!-- <view bindtap='details'>详情</view> -->