<view class="notice">
  <view class="top-line"></view>
  <view class="notice-content">
    <view class="notice-top">
      <view class="top-icon"></view>
      <view class="top-text">{{datas.content}}</view>
    </view>
    <view class="notice-send">
      <view class="notice-time">
        <view class="send-icon"></view>
        <view class="time-text">发送时间：{{datas.time}}</view>
      </view>
      <view class="notice-name">
        <view class="send-icon"></view>
        <view class="name-text">发送人：{{datas.nickname}}</view>
      </view>
    </view>
  </view>
  <view class="notice-supp" wx:if="{{datas.remark}}">
    <view class="supp-title">补充内容</view>
    <view class="supp-text">{{datas.remark}}</view>
  </view>
</view>